# bin directories:
[Bb]uild/
[Bb]uild-[Aa]ndroid/
[Bb]in/

# vscode configuration:
.vscode/
*.code-workspace

# shader bytecode directory:
spirv/

# cmake files:
CMakeFiles/
cmake_install.cmake
CMakeCache.txt
_deps/

# visual studio files/directories:
*.vcxproj*
*.sln
.cmake/
x64/
x32/
[Dd]ebug/
[Rr]elease/
.vs/
*.dir/

# macos
.DS_Store

# python package info:
*.egg-info/
__pycache__/

# benchmark binary + dataset
bench/splv_benchmark
bench/splv_benchmark.exe
bench/dataset/
bench/temp.splv